.btn-primary {
    background-color: rgb(219, 143, 0) !important;
    border-color: rgb(219, 143, 0) !important;
    color: black !important;
}
.btn-primary:hover {
    background-color: #ffb84d !important;
    border-color: #ffb84d !important;
    color: black !important;
}

.loader-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(30, 30, 30, 0.6);
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    pointer-events: none;
    opacity: 0;
    color: orange;
}
.loader-backdrop.active {
    opacity: 1;
    pointer-events: all;
}
.loader-backdrop .spinner-border {
    width: 3rem;
    height: 3rem;
}

.alert{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.navbar-brand{
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: orange;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
}
.navbar-brand:hover{
    color: #ffcc00;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.nav-link.active {
    text-decoration: underline;
}
.user-icon {
    color: black;
    border-radius: 50%;
    background-color: orange;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    font-size: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.user-icon:hover {
    color: #ffcc00;
}
.username-text {
    font-weight: bold;
}

/* FullCalendar calendar library custom CSS */
.fc-day-today {
    background-color: rgba(255, 166, 0, 0.2) !important;
}
.fc .fc-header-toolbar {
    margin-bottom: 0.5em !important;
}
.fc-col-header-cell {
    background: var(--bs-body-bg) !important;
    color: white !important;
    font-weight: 500;
}
.calendar-event.Pending,
#tableView table .Pending {
    background: repeating-linear-gradient(
        135deg,
        orange,
        orange 8px,
        #ffd580 8px,
        #ffd580 16px
    );
    border-color: orange;
    font-weight: bold;
    color: black;
}
.calendar-event.Approved,
#tableView table .Approved {
    background-color: orange;
    border-color: orange;
    font-weight: bold;
    color: black;
}
.calendar-event.Rejected,
#tableView table .Rejected{
    background-color: rgb(255, 72, 0);
    border-color: rgb(255, 72, 0);
    font-weight: bold;
    color: black;
}
.calendar-day {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
