html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-flex-container {
    display: flex;
    height: calc(100vh - 64px);
    gap: 2rem;
    padding: 2rem 0rem 2rem 0rem;
}

.flex-child {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;

}
.card {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}
.card.mb-3 {
    flex: 1 1 40% !important; 
    min-height: 0%;
}
.card.calendar-card {
    flex: 1 1 60% !important; 
    min-height: 0%;
}

.card-header {
    text-align: center;
}

.view-modify {
    right: 0;
    top: 0.35em;
    padding-right: 1rem;
    font-size: large;
}
.view-modify .view{
    margin-right: 0.5rem;
}
.view-modify i:hover {
    color: rgba(255, 166, 0, 0.55);
    cursor: pointer;
}
.view-modify .view:hover {
    margin-right: 0.5rem;
}
.view-modify .active {
    color: orange;
}
.view-modify .inactive {
    color: gray;
}
.view-modify .disabled {
    cursor: not-allowed;
    color: white;
    opacity: 0.25;
}

div.employee-records {
    padding: 0px;
}
div.employee-records table {
    width: 100%;
}
#employee-records-body tr:hover {
    cursor: pointer;
}
#employee-stats-body div.left div,
#employee-stats-body div.center div,
#employee-stats-body div.right div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25em;
}
#employee-stats-body .left span,
#employee-stats-body .center span,
#employee-stats-body .right span {
    display: block;
    text-align: center;
}
#employee-stats-body div .label {
    font-weight: bold;
    color: orange;
}
#employee-stats-body .left{
    border-right: 1px solid var(--bs-secondary);
    overflow-y: auto;
}
#employee-stats-body .center{
    overflow-y: auto;
}
#employee-stats-body .right{
    border-left: 1px solid var(--bs-secondary);
    overflow-y: auto;
}
div.employee-records thead {
    display: none;
}
div.employee-records table .employee-name {
    font-weight: bold;
    text-align: end;
    padding-right: 2em;
}
.hover-stats{
    opacity: 0.25;
}
.idle-calendar {
    opacity: 0.1;
}
.hover-calendar {
    opacity: 0.25;
}
.active-stats {
    opacity: 1;
}
.active-calendar {
    opacity: 1;
}
.selected-record td {
    transition: all 0.3s;
    background-color: orange;
    color: black;
}
td {
    transition: all 0.1s;
}

.card-body.calendar-container {
    padding: 0.5em;
    height: 100%;
}

