{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/employees.css') }}">

<!-- FullCalendar libarary for viewing booked leave -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.17/index.global.min.js"></script>

{% block modals %}{% endblock %}

<div class="modal fade" id="viewRequest" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 mx-auto" id="requestTitleID"></h1>
                <h1 class="modal-title fs-3 mx-auto" id="requestTitleType"></h1>
                <button type="button" class="btn-close" style="margin-left: 0px;"></button>
            </div>
            <div class="modal-body container">
                <div class="row date-info">
                    <div class="col-12">
                        <div class="label">Date Requested:</div>
                        <div class="value date-requested"></div>
                    </div>
                </div>
                <hr>
                <div class="row date-info">
                    <div class="col-6">
                        <div class="label">Date From:</div>
                        <div class="value date-from"></div>
                    </div>
                    <div class="col-6">
                        <div class="label">Date To:</div>
                        <div class="value date-to"></div>
                    </div>
                </div>
                <div class="row date-info mb-2">
                    <div class="col-12">
                        <div class="label">Days:</div>
                        <div class="value days-difference"></div>
                    </div>
                </div>
                <hr>
                <div class="date-info d-flex justify-content-around">
                    <div class="defaults d-flex">
                        <div>
                            <div class="label">Default Leave (Days):</div>
                            <div class="value default-leave"></div>
                        </div>
                        <div>
                            <div class="label">Default Sick Leave (Days):</div>
                            <div class="value default-sick-leave"></div>
                        </div>
                    </div>
                    <div class="vr"></div>
                    <div class="taken d-flex">
                        <div>
                            <div class="label">Leave Taken (Days):</div>
                            <div class="value leave-taken"></div>
                        </div>
                        <div>
                            <div class="label">Sick Leave Taken (Days):</div>
                            <div class="value sick-leave-taken"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <label for="adminComments" class="form-label">Admin Comments</label>
                        <textarea class="form-control" placeholder="Enter any comments here..." id="adminComments" rows="3"></textarea>
                    </div>
                    <div class="col-6">
                        <label for="employeeComments" class="form-label">Employee Comments</label>
                        <textarea class="form-control" placeholder="Enter any comments here..." id="employeeComments" rows="3" disabled></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-outline-secondary close-modal">Close</button>
                <div class="status-text"></div>
                {% if current_user.admin %}
                <div class="action-bar" style="gap: 1em;">
                    <button type="button" class="btn btn-danger mx-1" id="denyLeaveRequest" data-bs-toggle="modal" data-bs-target="#denyModal">Deny Leave Request</button>
                    <button type="button" class="btn btn-success" id="approveLeaveRequest" data-bs-toggle="modal" data-bs-target="#approveModal">Approve Leave Request</button>
                </div>
                <div class="action-bar-request" style="gap: 1em; display: none;">
                    <button type="button" class="btn btn-secondary mx-1" id="modifyLeaveRequest">Modify Request</button>
                    <button type="button" class="btn btn-success" id="confirmLeaveRequest">Confirm Request</button>
                </div>
                {% else %}
                <div class="action-bar" style="gap: 1em;">
                    <button type="button" class="btn btn-secondary mx-1" id="modifyLeaveRequest">Modify Request</button>
                    <button type="button" class="btn btn-success" id="confirmLeaveRequest">Confirm Request</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="main-flex-container">
    <div class="flex-child">
        <div class="card">
            <div class="card-header d-flex justify-content-center">
                {% if current_user.admin and active_page == 'modify_records' %}
                <button type="button" class="btn btn-primary btn-sm position-absolute" id="addRecordBtn">Add <i class="fas fa-plus"></i></button>
                {% endif %}
                {% if current_user.admin and active_page == 'view_records' %}
                <select class="form-select form-select-sm" id="viewSelector">
                    <option selected>View All</option>
                    <hr>
                    <optgroup label="Attendance">
                        <option value="attendance-top5">Top 5</option>
                        <option value="attendance-bottom5">Bottom 5</option>
                        <option value="attendance-mean">Mean</option>
                        <option value="attendance-median">Median</option>
                        <option value="attendance-range">Range</option>
                        <option value="attendance-modal">Modal</option>
                    </optgroup>
                    <hr>
                    <optgroup label="Performance">
                        <option value="performance-top5">Top 5</option>
                        <option value="performance-bottom5">Bottom 5</option>
                        <option value="performance-mean">Mean</option>
                        <option value="performance-median">Median</option>
                        <option value="performance-range">Range</option>
                        <option value="performance-modal">Modal</option>
                    </optgroup>
                </select>
                {% endif %}
                <h5 class="card-title mb-0">Employee Records</h5>
                <div class="view-modify position-absolute">
                    {% if current_user.admin %}
                    <i class="fas fa-eye 2xl view {% if active_page == 'view_records'%}active{% else %}inactive{% endif %}" href="{{ url_for('employees.index') }}"></i>
                    <i class="fas fa-pen-to-square 2xl modify
                                {% if active_page == 'modify_records'%}active{% else %}inactive{% endif %}" href="{{ url_for('employees.modify_index') }}"></i>
                    {% endif %}
                </div>
            </div>
            <div class="card-body employee-records">
                <input class="form-control" id="employee-search" placeholder="ID/Name...">
                <table class="table table-hover">
                    <tbody id="employee-records-body">
                        <!-- Employee records will be populated here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="flex-child">
        <div class="card mb-3">
            <div class="card-header">
                <div class="averages-text">
                    <div class="label"></div>
                    <div class="value"></div>
                </div>
                <h5 class="card-title" id="statistics-title">Statistics</h5>
            </div>
            <form id="employee-form" class="needs-validation" novalidate>
                <div id="employee-stats-body" class="card-body stats">
                    <!-- Stats will go here -->
                </div>
            </form>
        </div>
        <div class="card calendar-card">
            <div class="card-header d-flex justify-content-between">
                <h5 class="card-title m-0 mx-auto">Leave</h5>
                <div class="form-check form-switch position-absolute end-0 mx-3">
                    <input class="form-check-input" type="checkbox" role="switch" id="toggleTableView">
                    <label class="form-check-label" for="toggleTableView">Table View</label>
                </div>
            </div>
            <div class="card-body calendar-container idle-calendar">
                <div id="calendar"></div>
                <div id="tableView" style="display: none;"></div>
            </div>
        </div>
    </div>
</div>
<script>
    const active_page = "{{ active_page }}";
</script>
<script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
<script src="{{ url_for('static', filename='js/employees/employees.js') }}"></script>
<script src="{{ url_for('static', filename='js/leave/leave.js') }}"></script>
<script>
    $(document).ready(function(){
        $('.view-modify i').not('.disabled').on('click', function(){
            window.location.href = $(this).attr('href');
        });
    });
</script>
{% block scripts %}{% endblock %}
{% endblock %}
