{% extends "base-employees.html" %}
{% block title %}Modify Records{% endblock %}

{% block modals %}
<div class="modal fade" id="saveModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 mx-auto" id="saveModalTitle">Confirm Changes?</h1>
                <button type="button" class="btn-close" style="margin-left: 0px;" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-footer d-flex justify-content-between" style="border-top: 0px;">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChangesConfirm">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="revertModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 mx-auto" id="revertModalTitle">Revert Changes?</h1>
                <button type="button" class="btn-close" style="margin-left: 0px;" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <h5>This action will revert the changes made.</h5>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="revertChangesConfirm">Revert changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 mx-auto" id="deleteModal">Delete <b><span id="deleteModalEmployee"></span>'s</b> record?</h1>
                <button type="button" class="btn-close" style="margin-left: 0px;" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <h5>This action will delete this employee's record. This action <b>cannot</b> be undone.</h5>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="deleteRecordConfirm">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/employees/employees-modify.js') }}"></script>
{% endblock %}