{% extends "base.html" %}

{% block title %}Process Leave{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/employees.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/leave.css') }}">

<!-- FullCalendar libarary for viewing booked leave -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.17/index.global.min.js"></script>

<div class="modal fade" id="selectLeaveTypeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 mx-auto">Please select the leave type:</h1>
                <button type="button" class="btn-close" style="margin-left: 0px;" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex w-100 gap-2">
                    <button type="button" class="btn btn-secondary btn-lg w-100" id="annualLeaveType" data-bs-dismiss="modal">Annual Leave</button>
                    <button type="button" class="btn btn-secondary btn-lg w-100" id="sickLeaveType" data-bs-dismiss="modal">Sick Leave</button>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between" style="border-top: 0px;">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="approveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 mx-auto">Approve Leave?</h1>
                <button type="button" class="btn-close" style="margin-left: 0px;" data-bs-toggle="modal" data-bs-target="#viewRequest"></button>
            </div>
            <div class="modal-footer d-flex justify-content-between" style="border-top: 0px;">
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#viewRequest">Close</button>
                <button type="button" class="btn btn-success" id="approveRequestConfirm">Approve Request</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="denyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 mx-auto">Deny Leave?</h1>
                <button type="button" class="btn-close" style="margin-left: 0px;" data-bs-toggle="modal" data-bs-target="#viewRequest"></button>
            </div>
            <div class="modal-footer d-flex justify-content-between" style="border-top: 0px;">
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#viewRequest">Close</button>
                <button type="button" class="btn btn-danger" id="denyRequestConfirm">Deny Request</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewRequest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 mx-auto" id="requestTitleID"></h1>
                <h1 class="modal-title fs-3 mx-auto" id="requestTitleType"></h1>
                <button type="button" class="btn-close" style="margin-left: 0px;"></button>
            </div>
            <div class="modal-body container">
                <div class="row date-info">
                    <div class="col-12">
                        <div class="label">Date Requested:</div>
                        <div class="value date-requested"></div>
                    </div>
                </div>
                <hr>
                <div class="row date-info">
                    <div class="col-6">
                        <div class="label">Date From:</div>
                        <div class="value date-from"></div>
                    </div>
                    <div class="col-6">
                        <div class="label">Date To:</div>
                        <div class="value date-to"></div>
                    </div>
                </div>
                <div class="row date-info mb-2">
                    <div class="col-12">
                        <div class="label">Days:</div>
                        <div class="value days-difference"></div>
                    </div>
                </div>
                <hr>
                <div class="date-info d-flex justify-content-around">
                    <div class="defaults d-flex">
                        <div>
                            <div class="label">Default Leave (Days):</div>
                            <div class="value default-leave"></div>
                        </div>
                        <div>
                            <div class="label">Default Sick Leave (Days):</div>
                            <div class="value default-sick-leave"></div>
                        </div>
                    </div>
                    <div class="vr"></div>
                    <div class="taken d-flex">
                        <div>
                            <div class="label">Leave Taken (Days):</div>
                            <div class="value leave-taken"></div>
                        </div>
                        <div>
                            <div class="label">Sick Leave Taken (Days):</div>
                            <div class="value sick-leave-taken"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <label for="adminComments" class="form-label">Admin Comments</label>
                        <textarea class="form-control" placeholder="Enter any comments here..." id="adminComments" rows="3"></textarea>
                    </div>
                    <div class="col-6">
                        <label for="employeeComments" class="form-label">Employee Comments</label>
                        <textarea class="form-control" placeholder="Enter any comments here..." id="employeeComments" rows="3" disabled></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-outline-secondary close-modal">Close</button>
                <div class="status-text"></div>
                {% if current_user.admin %}
                <div class="action-bar" style="gap: 1em;">
                    <button type="button" class="btn btn-danger mx-1" id="denyLeaveRequest" data-bs-toggle="modal" data-bs-target="#denyModal">Deny Leave Request</button>
                    <button type="button" class="btn btn-success" id="approveLeaveRequest" data-bs-toggle="modal" data-bs-target="#approveModal">Approve Leave Request</button>
                </div>
                <div class="action-bar-request" style="gap: 1em; display: none;">
                    <button type="button" class="btn btn-secondary mx-1" id="modifyLeaveRequest">Modify Request</button>
                    <button type="button" class="btn btn-success" id="confirmLeaveRequest">Confirm Request</button>
                </div>
                {% else %}
                <div class="action-bar" style="gap: 1em;">
                    <button type="button" class="btn btn-secondary mx-1" id="modifyLeaveRequest">Modify Request</button>
                    <button type="button" class="btn btn-success" id="confirmLeaveRequest">Confirm Request</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="main-content-wrapper">
    <div class="card my-3 leave-request">
        <div class="card-header">
            <h5 class="card-title mb-0">Leave Requests</h5>
            <i class="fas fa-rotate fa-lg refresh"></i>
        </div>
        <div class="card-body employee-records p-0">
            <input class="form-control" id="employee-search" placeholder="ID/Name...">
            <table class="table table-hover">
                <tbody id="employee-records-body">
                    <!-- Employee records will be populated here -->
                </tbody>
            </table>
            <div class="no-requests">There are no active requests to fulfill.</div>
        </div>
    </div>

    <div class="card calendar mb-3 {% if not current_user.admin %}mt-3{% endif %}">
        <div class="card-header d-flex justify-content-between">
            <div class="top-left-options position-absolute d-flex">
                <button type="button" class="btn btn-primary btn-sm disabled" id="addRequestBtn">Request <i class="fas fa-plus"></i></button>
                <button type="button" class="btn btn-danger btn-sm" style="display: none;" id="cancelAddRequestBtn">Cancel <i class="fas fa-xmark"></i></button>
                <div class="selected-leave-available px-4">
                    <span id="selectedLeave"></span>
                    <span id="selectedLeaveAvailable"></span>
                </div>
            </div>
            <h5 class="card-title m-0 mx-auto">Calendar</h5>
            <div class="form-check form-switch position-absolute end-0 mx-3">
                <input class="form-check-input" type="checkbox" role="switch" id="toggleTableView">
                <label class="form-check-label" for="toggleTableView">Table View</label>
            </div>
        </div>
        <div class="card-body calendar-container idle-calendar">
            <div id="calendar"></div>
            <div id="tableView" style="display: none;"></div>
        </div>
    </div>
</div>

<script>
    const active_page = "{{ active_page }}";
</script>
<script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
<script src="{{ url_for('static', filename='js/employees/employees.js') }}"></script>
<script src="{{ url_for('static', filename='js/leave/leave.js') }}"></script>

<script>
    $(document).ready(function(){
        $('#toggleTableView')[0].checked = false;
        $('#adminComments').val('');

        // Begin loading employees data
        getRequestedLeave();

        // Initialise elements
        calendar = initCalendar('#calendar', 'auto', true);
        initSearch(
            '#employee-search', 
            '#employee-records-body tr', 
            [
                {selector: '.employee-name'},
                {selector: '.employee-id'}
            ]
        );
        initTableToggle();
    });
</script>


{% endblock %}
